<a href="https://colab.research.google.com/github/faspy/data_science_projects/blob/gh-pages/eda_my_uber_rides.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
rides = pd.read_csv('https://raw.githubusercontent.com/faspy/raw_data/main/trips_data.csv')

In [ ]:
rides.head()

   City Product Type  ... Fare Amount Fare Currency
0   458        Black  ...       29.63           BRL
1   458          VIP  ...       20.86           BRL
2   458          VIP  ...       34.23           BRL
3   458          VIP  ...       58.77           BRL
4   458          VIP  ...       12.63           BRL

[5 rows x 13 columns]

In [ ]:
rides.groupby('Product Type')['Fare Amount'].sum().sort_values(ascending=False)

Product Type
UberX                   2694.46
uberX                   2434.46
uberX VIP               1115.64
VIP                     1075.85
POOL                     513.25
UberEATS Marketplace     438.06
POOL: MATCHED            214.88
uberPOOL: MATCHED        138.11
Pool: MATCHED            119.02
Pool                     118.02
Black                     92.74
UberBLACK                 36.94
uberx                     27.89
uberPOOL                   0.00
Juntos                     0.00
Name: Fare Amount, dtype: float64